body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  font-family: arial;
  overflow-y: auto;
}
h1 {
  color: #262626;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px 2px 20px orange;
  text-align: center;
}
h2 {
  color: #262626;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px 2px 20px gray;
  text-align: center;
}
/*About Us  */
.about-us {
  background-color: gray;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: justify;
  box-sizing: border-box;
  font-size: 200px;
}
.about-us h2 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}
.about-us p {
  font-size: 15px;
  line-height: 1.5;
  color: black;
  margin-bottom: 15px;
}
.about-us img {
  margin-left: auto;
  margin-right: auto;
}
/*Navigation*/
nav {
  width: 100%;
  height: 100px;
  background: #262626;
  line-height: 50px;
  color: white;
}

ul {
  padding: 0;
  width: 100%;
  margin: 0 0 0 250px;
  list-style: none;
}

li {
  float: left;
}

li a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: arial;
  color: white;
  text-align: center;
}
li a:hoover {
  background: gray;
  text-transform: uppercase;
}
.logo img {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
}
li a:hover,
dropdown:hover .dropbtn {
  background-color: #111;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 100px;
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: #111;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*Services*/
.service {
  text-align: center;
}
.s-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
  box-sizing: border-box;
}
.service-item {
  background-color: gray;
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  width: calc((100% / 3) - 40px);
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.s-container img {
  max-height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 10px 10px 20px gray;
}
